<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="addTodo()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Todos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-todo-list [todayOnly]="false"></app-todo-list>
</ion-content>
